<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @job.origin%>
</p>

<p>
  <strong>Destination:</strong>
  <%= @job.destination %>
</p>

<p>
	<strong>Containers:</strong>
	<%= @job.containers %>
</p>

<p>
	<strong>Cost:</strong>
	<%= @job.cost %>
</p>

<p>
	<strong>Boat:</strong>
	<%= @job.boats.name %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to "Assign", assign_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
