<p id="notice"><%= notice %></p>

<div id="h2container"><h2>Boats</h2></div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Containers</th>
      <th>Location</th>
      <th>Jobs</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @boats.each do |boat| %>
      <tr>
        <td><%= boat.name %></td>
        <td><%= boat.containers %></td>
        <td><%= image_tag boat.image %></td>
        <td><%= boat.location %></td>
        <td><%= boat.jobs.count %></td>

        <td><%= link_to 'Show', boat %></td>
        <td><%= link_to 'Edit', edit_boat_path(boat) %></td>

        <td><%= link_to 'Destroy', boat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>
<div id="new"><%= link_to 'New Boat', new_boat_path %></div>


